name: Build and Deploy

on:
  push:
    branches: [ "**" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set environment variables based on branch
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/master" ]]; then
            echo "ENV=prod" >> $GITHUB_ENV
            echo "VITE_API_BASE=https://portbuddy.dev" >> $GITHUB_ENV
            echo "VITE_CANONICAL=https://portbuddy.dev" >> $GITHUB_ENV
            echo "VITE_OG_URL=https://portbuddy.dev" >> $GITHUB_ENV
          else
            echo "ENV=dev" >> $GITHUB_ENV
            echo "VITE_API_BASE=http://localhost:8080" >> $GITHUB_ENV
            echo "VITE_CANONICAL=http://localhost:8080" >> $GITHUB_ENV
            echo "VITE_OG_URL=http://localhost:8080" >> $GITHUB_ENV
          fi

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build with Maven
        run: ./mvnw clean package

      - name: Upload build artifacts
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v5
        with:
          name: jars
          retention-days: 1
          path: |
            server/target/*.jar
            gateway/target/*.jar
            eureka/target/*.jar
            net-proxy/target/*.jar
            cli/target/*.jar
            ssl-service/target/*.jar

  deploy-backend:
    name: Build and Push Docker Images to YC CR
    needs: build
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: jars

      - name: Login to Yandex Cloud Container Registry
        id: login-cr
        uses: yc-actions/yc-cr-login@v3
        with:
          yc-sa-json-credentials: ${{ secrets.YC_CR_JSON_CREDS }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Server
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile-server
          platforms: linux/amd64
          push: true
          tags: cr.yandex/${{ vars.CR_REGISTRY }}/port-buddy-server:latest

      - name: Build and push Gateway
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile-gateway
          platforms: linux/amd64
          push: true
          tags: cr.yandex/${{ vars.CR_REGISTRY }}/port-buddy-gateway:latest

      - name: Build and push Eureka
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile-eureka
          platforms: linux/amd64
          push: true
          tags: cr.yandex/${{ vars.CR_REGISTRY }}/port-buddy-eureka:latest

      - name: Build and push Net Proxy
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile-net-proxy
          platforms: linux/amd64
          push: true
          tags: cr.yandex/${{ vars.CR_REGISTRY }}/port-buddy-net-proxy:latest

      - name: Build and push SSL Service
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile-ssl-service
          platforms: linux/amd64
          push: true
          tags: cr.yandex/${{ vars.CR_REGISTRY }}/port-buddy-ssl-service:latest

  deploy-cli:
    name: Build and Push CLI Images
    needs: build
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: jars

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push CLI
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile-cli
          platforms: linux/amd64,linux/arm64
          push: true
          tags: portbuddy/cli:latest

  cleanup:
    name: Cleanup
    needs: build
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Delete artifacts
        uses: geekyeggo/delete-artifact@v5
        with:
          name: jars
          failOnError: false
