server:
  port: ${NET_PROXY_PORT:8070}

eureka:
  client:
    registryFetchIntervalSeconds: 2
    eurekaServiceUrlPollIntervalSeconds: 60
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    metadata-map:
      public-host: ${app.public-host}

spring:
  application:
    name: net-proxy
  security:
    oauth2:
      resourceserver:
        jwt:
          # Validate incoming JWTs using the Server's public JWKS
          jwk-set-uri: lb://port-buddy-server/.well-known/jwks.json

app:
  public-host: ${NET_PROXY_PUBLIC_HOST:localhost}
  web-socket:
    max-text-message-size: 10MB
    max-binary-message-size: 10MB
    session-idle-timeout: 10m
  jwt:
    jwk-set-uri: lb://port-buddy-server/.well-known/jwks.json
    issuer: port-buddy

logging:
  level:
    root: info
  file:
    name: log/app.log
  logback:
    rollingpolicy:
      max-history: 14
      total-size-cap: 1000MB
      max-file-size: 100MB
