server:
  port: ${PORT:8070}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    metadata-map:
      public-host: ${app.public-host}

spring:
  application:
    name: net-proxy
  security:
    oauth2:
      resourceserver:
        jwt:
          # Validate incoming JWTs using the Server's public JWKS
          jwk-set-uri: http://localhost:8080/.well-known/jwks.json

app:
  public-host: ${PUBLIC_HOST:localhost}
  web-socket:
    max-text-message-size: 100MB
    max-binary-message-size: 1GB
    session-idle-timeout: 10m

logging:
  level:
    root: info
  file:
    name: log/app.log
  logback:
    rollingpolicy:
      max-history: 14
      total-size-cap: 1000MB
      max-file-size: 100MB
